In [ ]:
'''
import torch
import torch.nn as nn
import torch.nn.functional as F
import torchvision.models as models
'''

In [ ]:
#model = models.inception_v3(pretrained=True, aux_logits=False)

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas

import tensorflow as tf
from tensorflow import keras

In [3]:
annotation = pandas.read_csv('data/flickr8k/captions.txt')

In [6]:
annotation.head()

,image,caption
0,1000268201_693b08cb0e.jpg,A child in a pink dress is climbing up a set o...
1,1000268201_693b08cb0e.jpg,A girl going into a wooden building .
2,1000268201_693b08cb0e.jpg,A little girl climbing into a wooden playhouse .
3,1000268201_693b08cb0e.jpg,A little girl climbing the stairs to her playh...
4,1000268201_693b08cb0e.jpg,A little girl in a pink dress going into a woo...

In [11]:
annotation.loc[annotation['image'] == '667626_18933d713e.jpg']

,image,caption
39150,667626_18933d713e.jpg,A girl is stretched out in shallow water
39151,667626_18933d713e.jpg,A girl wearing a red and multi-colored bikini ...
39152,667626_18933d713e.jpg,A little girl in a red swimsuit is laying on h...
39153,667626_18933d713e.jpg,"A young girl is lying in the sand , while ocea..."
39154,667626_18933d713e.jpg,Girl wearing a bikini lying on her back in a s...